

@font-face {
    font-family: sigmar-one;
    src: url(../fonts/sigmar-one/SigmarOne-Regular.ttf);
}

@font-face{
    font-family: fjalla-one ;
    src:url(../fonts/fjalla-one/FjallaOne-Regular.ttf);
}

/* BASICS */
*{
    box-sizing: border-box;
}
html{
    font-family: fjalla-one;
}
body{
    margin: 0;
    height: 100%;
}
body.rtl {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body.rtl .logo{
    font-family: fjalla-one;
}
canvas{
    border: 2px ridge black;
    cursor: grab;
}
h1,h2,h3,h4{
    margin: 0;
}
a{
    text-decoration: none;
    color:#FFE8FF;
}
a:hover{
    border-bottom: none;
    color: #5C7C86;
}
ul{
    padding: 0;
}
li{
    list-style-type: none;
}
button{
    padding: 0;
    text-align: center;
}

/* LAYOUT */

.main-container{
    max-width: 1200px;
    margin: auto;
}
.search-nav{
    height: 70px; 
}
.search input{
    margin-top: .8rem ;
    width: 300px;
    height: 40px;
}

.imgs-gallery{
    display: grid;
    grid-gap: 15px;
}

.user-memes{
    display: grid;
    grid-gap:10px;
}

/* Components */

/*  HEADER */

.main-header{
    background-color: #802C00;
    margin: 0;
}
.main-nav{
    margin: auto;
}
.logo{
    font-size : 60px;
}

.nav-bar{
    display: flex;
}
.lang-input{
    width: 100px;
    height: 30px;
    margin:auto 10px;
    background-color: inherit;
    cursor: pointer;
    border: 1px solid #421842;
}
.lang-input:hover{
    background-color: ivory;
}
.clean-list li{
    font-size:20px;
    margin-right:10px;
}


  /* GALLERY */

.imgs-gallery{
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    grid-template-rows: repeat(auto-fit,minmax(150px, 1fr));
    margin: 10px;
    margin-bottom: 150px;
}
.imgs-gallery img{
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.file-input{
    width: 300px;
    border-radius: 5px;
    border: 2px solid black;
}
.btn.upload-btn{
    font-size: 1.1rem;
    margin-top: 5px;
}
.search-nav{
    background-color: #5C7C86;
}
.search h3{
    margin-left:10px;
    margin-top: 15px;
    display: none;
}
.image-item{
    cursor: pointer;
}

  /* CONTROL BOARD */
  .canvas-container{
    margin: 20px 10px;
  }
  .canvas-container.flex{
    display: none;
  }

.control-board{
    width: 700px;
    display: grid;
    grid-template-columns: .4fr repeat(5,60px).4fr;
    grid-template-rows: repeat(8,60px);
    grid-gap:10px;
}

.txt-input{
    height: 60px;
    width: 340px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 1.4rem;
}
.btn{
    height: 3.75rem;
    width: 3.75rem;
    border: none;
    border-radius:.6rem ;
    background-color: #C0FAFF;
    color: #5C7C86;
    cursor: pointer;
    outline: none;
    font-size: 2rem;
}
.btn:hover{
    background-color:#2e1e31 ;
    color: #e497e4;
}
.btn a{
    font-size: 1.2rem;
}
.delete-btn img{
    height: 40px;
    width: 40px;
}
.download-btn{
    font-size: 1rem;
}
.download-btn a{
    height: 60px;
    width: 60px;
    color: #5C7C86
}
.download-btn a:hover{
    color:#e497e4;
}

form{
    grid-area: 1/2/2/6;  
}
.switch-line-btn{
    grid-area: 3/2/4/3;
}
.add-line-btn{
    grid-area: 3/3/4/4;
}
.delete-btn{
    padding-top:10px ;
    grid-area: 3/5/4/6;
}
.bigger-font-btn{
    grid-area: 4/2/5/3;
}
.smaller-font-btn{
    
    grid-area: 5/2/6/3;
}
.font-select{
    grid-area:6/2/7/4;
    height: 50px;
    width: 170px;
    font-size: 1.3rem;
    font-family: fjalla-one;
}
.up-btn{
    grid-area: 4/3/5/4;
}
.down-btn{
    grid-area: 5/3/6/4;
}
.submit-btn{
    font-size: 1rem;
    grid-area: 1/7/2/-1;
}
.download-btn{
    grid-area:  7/5/8/7;
    width: 130px;
} 
.save-btn{
    grid-area: 7/2/8/4;
    width: 130px;
} 
.font-color{
    grid-area: 6/5/7/6;
    width: 60px;
    height: 50px;
}

 /*  USER GALERY */
.user-memes{
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-auto-flow: dense;
    margin: 10px;
    margin-bottom: 150px;
}
.user-memes >*{
    border-radius: 8px;
}

  /* FOOTER */

.main-footer{
    background-color:#b1d4df ;
    position: fixed;
    left: 0;
    bottom:0;
    width: 100%;
    margin-top: 15px;
}

/* HELPERS */

.flex{
    display: flex;
}

.flex-direction{
    flex-direction: column;
}

.justify-content{
    justify-content: center;
}
.space-between{
    justify-content: space-between;
}
.align-items{
    align-items: center;
}



@media (max-width: 1075px){
    .main-container{
        max-width: 980px;
    }
    .submit-btn{
        grid-column: 7/8;
    }
    .txt-input{
        height: 50px;
        width: 300px;
    }
}

@media (max-width: 980px){
    .main-container{
        max-width:840px ;
    }
    .control-board{
        grid-template-rows: repeat(7,60px);
        margin-left: 10px;
    }
    .txt-input{
        height: 50px;
        width: 250px;
    }
    .bigger-font-btn{
        grid-area: 3/3/4/4;
    }
    .smaller-font-btn{
        grid-area: 4/3/5/4;
    }
    .up-btn{
        grid-area: 3/4/4/5;
    }
    .down-btn{
        grid-area: 4/4/5/5;
    }
    .download-btn{
       grid-area: 6/2/7/4;
    }
    .delete-btn{
       grid-area: 7/6/8/7;
    }
    .add-line-btn{
       grid-area: 1/6/2/7;
    }
    .switch-line-btn{
       grid-area: 2/6/3/7;
    }
    .font-select{
        grid-area: 5/2/7/4;
    }
    .font-color{
        grid-area: 5/5/6/6;
    }
}

@media (max-width: 870px){
    .canvas-container{
        flex-direction:column;
        margin-top: 15px;
    }
    canvas{
        width: 400px;
        height: 400px;
    }
    .control-board{
        margin: 10px 0;
        grid-template-columns:repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        width: 500px;
    }
    .txt-input{
        width: 250px;
    }
    form{
      grid-area: 1/1/3/4;
    }
    .save-btn{
        grid-area: 6/1/7/2;
    }
    .download-btn{
        grid-area: 6/2/7/4;
    }
    .delete-btn{
       grid-area: 6/6/7/7;
    }
    .font-select{
        grid-area: 3/1/4/3;
    }
    .font-color{
        grid-area: 3/3/4/4;
    }
    .switch-line-btn{
        grid-area: 2/4/3/5;
    }
    .add-line-btn{
        grid-area: 1/4/2/5;
    }
    .up-btn{
        grid-area: 3/5/4/6;
    }
    .down-btn{
        grid-area: 4/5/4/5;
    }
    .bigger-font-btn{
      grid-area:3/4/4/5 ;
    }
    .smaller-font-btn{
        grid-area: 4/4/5/5;
    } 
}

@media (max-width: 610px){
    .nav-bar{
        flex-direction: column-reverse;
        margin-right: 10px;
    }
    .nav-bar .lang-input{
        margin: 0;
    }
    ul.clean-list{
        flex-direction: column;
    }
    .control-board{
        width: 100%;
    }
}

@media (max-width: 550px){
    .control-board{
        grid-template-columns:repeat(4, 70px);
        margin-left: 50%;
       transform: translateX(-60px);
    }
    canvas{
        height: 300px;
    }
    .txt-input {
        width: 200px;
        font-size: .875rem;
    }
    form{
       grid-area: 1/1/3/4;
    }
    .save-btn{
        grid-area: 5/1/6/3;
    }
    .download-btn{
        grid-area: 6/1/7/3;
    }
    .font-color{
        grid-area: 4/1/5/2;
    }
    .delete-btn{
        grid-area: 6/5/7/6;
    }
}

@media (max-width: 440px){
    ul.clean-list{
        flex-direction: column;
    }
    .control-board{
        transform: translateX(-40px)
    }
}
