
/* BASICS */
*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

canvas{
    border: 2px solid black;
}
img{
    
}

/* LAYOUT */


.canvas-container{
    background-color: cornflowerblue;
}

.image-item{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgs-gallery{
    display: grid;
    grid-gap: 15px;
}

/* Components */

.imgs-gallery{
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.control-board{
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 10px 1fr 1fr 1fr 1fr 1fr 10px 1fr ;
    grid-template-rows: repeat(8, 1fr);
    grid-gap:10px;
}

input{
    height: 60px;
    width: 370px;
}

form{
    grid-row: 2/3;
    grid-column: 3/8;
}
.submit-btn{
    margin-top: 20px;
    width: 100px;
    grid-column: 4/7;
    grid-row: 7/8;
}
.plus-btn{
    grid-column: 4/5;
    grid-row: 4/5;
}

.minus-btn{
    grid-column: 5/6;
    grid-row: 4/5;
}
.up-btn{
    grid-column: 6/7;
    grid-row: 4/5;
}
.down-btn{
    grid-column: 7/8;
    grid-row: 4/5;
}

/* HELPERS */

.flex{
    display: flex;
}

.flex-direction{
    flex-direction: column;
}

.justify-content{
    justify-content: center;
}
.align-items{
    align-items: center;
}

